<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidProject.BTP.bluetoothchatapp">

    <!-- Permissions required by the app -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true" <!-- Indicates that the app allows backup -->
        android:icon="@mipmap/ic_launcher" <!-- Specifies the app icon -->
        android:usesCleartextTraffic="true" <!-- Indicates that the app allows cleartext traffic -->
        android:label="@string/app_name" <!-- Specifies the app label -->
        android:roundIcon="@mipmap/ic_launcher_round" <!-- Specifies the app icon for round displays -->
        android:supportsRtl="true" <!-- Indicates that the app supports right-to-left (RTL) layout -->
        android:theme="@style/AppTheme"> <!-- Specifies the app theme -->

        <!-- The main activity of the app -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- Specifies that this is the main activity -->
                <category android:name="android.intent.category.LAUNCHER" /> <!-- Indicates that this activity should be launched when the app is opened -->
            </intent-filter>
        </activity>

        <!-- The device list activity of the app -->
        <activity android:name=".DeviceListActivity"></activity>
    </application>

</manifest>
